<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/form.css" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/register" class="nav-link px-2 link-secondary">Register</a></li>        
   </ul> -->
</head>
<body>
    <h1>Login</h1>
    <main>
        <div id="content">
          <div class="form-container">
            <form action="/loginpage" method="POST">
                
                <div class="form-group">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    
          </div>
        </div>
      </main>
</body>
</html>